@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lemon";
  src: url("../public/fonts/Lemon-Regular.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-VariableFont_wght.ttf");
}

.thumbnail-shadow {
  box-shadow: 5px 5px #1f2a37;
}
.dark .thumbnail-shadow {
  box-shadow: 5px 5px #fffbeb;
}
.thumbnail-shadow:hover {
  box-shadow: none;
}

.logo-shadow {
  transition: text-shadow 1s ease-in-out;
  text-shadow: 5px 5px #1f2a37;
}

.dark .logo-shadow {
  text-shadow: none;
}

.font-lemon {
  font-family: "Lemon", cursive;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-quicksand-bold {
  font-variation-settings: "wght" 700;
  font-family: "Quicksand", sans-serif;
}

.dark-toggle-button {
  @apply bg-waffleLight;
  width: 4rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 2px solid #1f2a37;
  padding: 0.4rem;
  box-shadow: inset 0px 0px 4px 0px #a58039;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

html.dark .dark-toggle-button {
  @apply bg-gray-800;
  @apply border-yellow-50;
  box-shadow: inset 0px 0px 4px 0px #1a202c;
}

.dark-toggle-inner {
  content: " ";
  @apply bg-gray-800;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #1a202c;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 0px #1a202c;
}

.dark-toggle-button:hover > .dark-toggle-inner {
  transform: scale(1.2);
}

html.dark .dark-toggle-inner {
  @apply bg-waffleLight;
  transform: translateX(1.5rem) !important;
}
html.dark .dark-toggle-button:hover > .dark-toggle-inner {
  transform: translateX(1.5rem) scale(1.2) !important;
}

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}
.markdown p img {
  @apply py-2 m-auto;
}
@screen sm {
  .markdown p img {
    @apply w-10/12;
  }
}
@screen md {
  .markdown p img {
    @apply w-8/12;
  }
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply underline;
}

.markdown pre {
  @apply overflow-auto p-4 rounded-snippet mb-4;
}

.markdown p code {
  border-radius: 5px;
  padding: 4px;
  background-color: #eceff4;
  color: #111927;
  font-size: 1rem;
}
.dark .markdown p code {
  background-color: #fffbeb;
}

.markdown ul {
  @apply pl-5 list-disc;
}
