/* @import url("https://fonts.googleapis.com/css2?family=Lemon&family=Quicksand&display=swap"); */
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Lemon";
  src: url("../public/fonts/Lemon-Regular.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-VariableFont_wght.ttf");
}

.logo-hidden {
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.thumbnail-shadow {
  box-shadow: 5px 5px;
}
.thumbnail-shadow:hover {
  box-shadow: none;
}

.logo-shadow {
  text-shadow: 5px 5px black, 4.5px 4.5px black, 4px 4px black,
    3.5px 3.5px black, 3px 3px black, 2.5px 2.5px black, 2px 2px black,
    1.5px 1.5px black, 1px 1px black, 0.5px 0.5px black;
}

.font-lemon {
  font-family: "Lemon", cursive;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-quicksand-bold {
  font-variation-settings: "wght" 700;
  font-family: "Quicksand", sans-serif;
}

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown a {
  @apply underline;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.container h1 {
  font-family: "Lemon", cursive;
  text-shadow: 3px 3px 0px black;
  color: #ffce5c;
  font-size: 72px;
  letter-spacing: 2px;
}

.container p {
  font-size: 36px;
} */
