@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lemon";
  src: url("../public/fonts/Lemon-Regular.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("../public/fonts/Quicksand-VariableFont_wght.ttf");
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2e3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81a1c1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81a1c1;
}

.token.number {
  color: #b48ead;
}

.token.boolean {
  color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.keyword {
  color: #81a1c1;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.thumbnail-shadow {
  box-shadow: 5px 5px #1f2a37;
}
.dark .thumbnail-shadow {
  box-shadow: 5px 5px #fffbeb;
}
.thumbnail-shadow:hover {
  box-shadow: none;
}

.logo-shadow {
  transition: text-shadow 1s ease-in-out;
  text-shadow: 5px 5px #1f2a37;
}

.dark .logo-shadow {
  text-shadow: none;
}

.font-lemon {
  font-family: "Lemon", cursive;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-quicksand-bold {
  font-variation-settings: "wght" 700;
  font-family: "Quicksand", sans-serif;
}

.dark-toggle-button {
  @apply bg-waffleLight;
  width: 4rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 2px solid #1f2a37;
  padding: 0.4rem;
  box-shadow: inset 0px 0px 4px 0px #a58039;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

html.dark .dark-toggle-button {
  @apply bg-gray-800;
  @apply border-yellow-50;
  box-shadow: inset 0px 0px 4px 0px #1a202c;
}

.dark-toggle-inner {
  content: " ";
  @apply bg-gray-800;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #1a202c;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 0px #1a202c;
}

.dark-toggle-button:hover > .dark-toggle-inner {
  transform: scale(1.2);
}

html.dark .dark-toggle-inner {
  @apply bg-waffleLight;
  transform: translateX(1.5rem) !important;
}
html.dark .dark-toggle-button:hover > .dark-toggle-inner {
  transform: translateX(1.5rem) scale(1.2) !important;
}

.markdown > * {
  @apply my-6;
}
.markdown > p,
.markdown > ul,
.markdown > ol,
.markdown > pre,
.markdown > blockquote {
  @apply text-lg leading-relaxed;
}
.markdown > p > img {
  @apply py-2 m-auto;
}
@screen sm {
  .markdown p img {
    @apply w-10/12;
  }
}
@screen md {
  .markdown p img {
    @apply w-8/12;
  }
}

.markdown > h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown > h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown > a {
  @apply underline;
}

.markdown pre {
  @apply overflow-auto p-4 rounded-snippet mb-4;
}

.markdown > p > code {
  border-radius: 5px;
  padding: 4px;
  background-color: #eceff4;
  color: #111927;
  font-size: 1rem;
  white-space: nowrap;
}
.dark .markdown > p > code {
  @apply bg-gray-800 text-yellow-50;
}

.markdown > ul {
  @apply pl-5 list-disc;
}

.markdown > ol {
  @apply pl-5 list-decimal;
}
