@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Quicksand&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.container h1 {
  font-family: "Lemon", cursive;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: black;
  color: wheat;
  font-size: 72px;
}

.container p {
  font-size: 36px;
}
